* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.boxes h2 {
    font-size: 1.5rem;
    margin: 0%;
    padding: 0%;
    margin-top: 5px;
}

.boxes p {
    color: red;
    font-size: 20px;
}

#homepage-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 998;
}

#homepage-description h1 {
    font-size: 100px;
    color: #3c99dc;
}

#homepage-description p {
    font-size: 25px;
    color: #fff;
}

#homepage-description button {
    border: 1px solid #3c99dc;
    color: #fff;
}

#homepage-description button:hover {
    border: 1px solid #3c99dc;
    background: #3c99dc;
    color: #000;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}