*{
    scroll-behavior: smooth;
}

body{
    padding: 0; 
    margin: 0;
}

#mainNav{
    background-color: white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
}

#mainNav img{
    width: 11rem;
    height: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    
}

#mainNav ul{
    list-style: none;
    margin: auto;
}

#mainNav ul li{
    display: inline;
    padding: 20px;
}

#mainNav ul li a{
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Oswald';
    padding: 5px 15px;
}

#mainNav ul li a:hover{
    text-decoration: underline;
}

.loginSignup{
    margin-right: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.loginSignup a{
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Bebas Neue Pro';
    background-color: royalblue;
    border-radius: 50px;
    border: royalblue 2px solid;
    margin: 0px 7px;
}

.loginSignup a:hover{
    background-color: lightgray;
    color: #000;
    transition: ease .4s;
}

.boxes h2{
    font-size: 1.5rem;
    margin: 0%;
    padding: 0%;
    margin-top: 5px;
}   

.boxes p{
    color: red; 
    font-size: 20px;
}

#homepage-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#homepage-description h1 {
    font-size: 100px;
    color: #3c99dc;
}


#homepage-description p {
    font-size: 25px;
    color: #fff;
}

#homepage-description button {
    border:1px solid #3c99dc;
    color:#fff;
}
 
#homepage-description button:hover {
    border:1px solid #3c99dc;
    background: #3c99dc;;
    color:#000;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }